<div class="px-6 py-10 md:px-12 lg:px-20">
  <div
    class="p-8 md:p-12 shadow-xl bg-gray-50 dark:bg-surface-800 rounded-2xl w-full max-w-xl mx-auto flex flex-col gap-8 animate-fadein animate-duration-500"
  >
    <div class="flex flex-col items-center gap-4">
      <div class="flex items-center gap-4">
        <span [appIcon]="'world'" size="xxl"></span>
      </div>
      <div class="flex flex-col items-center gap-2 w-full">
        <div
          class="text-primary text-2xl font-semibold leading-tight text-center w-full"
        >
          Welcome to Akadian
        </div>
        <div class="text-center w-full">
          <span class="text-contrast leading-normal"
            >Already have an account?</span
          >
          <a
            routerLink="/auth/login"
            class="text-primary font-medium ml-1 cursor-pointer hover:text-primary-emphasis"
            >Login!</a
          >
        </div>
      </div>
    </div>

    <!-- form -->
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-6 w-full"
    >
      <div class="flex flex-col gap-2">
        <label
          appCustomLabel
          [label]="AuthFormEnum.username"
          for="username"
        ></label>
        <input pInputText formControlName="username" id="username" />
      </div>

      <div class="flex flex-col gap-2">
        <label appCustomLabel [label]="AuthFormEnum.email" for="email"></label>
        <input pInputText formControlName="email" id="email" />
      </div>

      <div class="flex flex-col gap-2">
        <label
          appCustomLabel
          [label]="AuthFormEnum.password"
          for="password"
        ></label>
        <p-password
          [fluid]="true"
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
          id="password"
        />
      </div>

      <div class="flex flex-col gap-2">
        <label
          appCustomLabel
          [label]="AuthFormEnum.confirmPassword"
          for="confirmPassword"
        ></label>
        <p-password
          [fluid]="true"
          formControlName="confirmPassword"
          [toggleMask]="true"
          [feedback]="false"
          id="confirmPassword"
        />
      </div>

      <!--  -->
      <p-button [fluid]="true" type="submit" label="Register" />
      <p-button
        [fluid]="true"
        type="button"
        label="Continue with Google"
        (click)="googleLogin()"
      >
        <span [appIcon]="'google'" size="xs"></span>
      </p-button>
    </form>
  </div>
</div>

<errors-alert [formErrors]="formErrors" />
